body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}
  
.player-wrapper {
    margin: 0 auto;
    max-width: 400px;
}
  
h1 {
    margin: 70px 0 10px 10px;
    color: #fff;
}
  
.player-container {
    background-color: #111;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
  }
  
  
.song-list {
    padding-left: 20px;
    margin-bottom: 0;
    list-style-type: decimal;
}
  
.song-list li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid #444;
    color: #fff;
    background-color: #1a1a1a;
    font-size: 18px;
}
  
.song-list li:hover {
    background-color: #2a2a2a;
}
  
.song-list li.active {
    background-color: #333;
    font-weight: bold;
}
  
.controls {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    border-top: none;
    border-radius: 0;
    z-index: 1000;
    box-shadow: none; 
}

.control-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.control-btn:hover {
    background-color: #fff;
    color: #000;
}
  